@font-face {
    font-family: 'Yandex Sans Text Regular';
    src: url('/assets/fonts/Yandex_Sans/fonts/YandexSansText-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text Medium';
    src: url('/assets/fonts/Yandex_Sans/fonts/YandexSansText-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text Bold';
    src: url('/assets/fonts/Yandex_Sans/fonts/YandexSansText-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

body {
    -webkit-tap-highlight-color: transparent;
    font-family: Yandex Sans Text Regular, Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.ticket {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    box-shadow: 10px 4px 5px #f1f1f1;
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.header .back-arrow img {
    height: 30px;
}

.header span {
    font-size: 21px;
    margin-left: 20px;
}

.content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}


.route .station {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.station img {
    height: 32px;
    margin-left: 20px;
    margin-top: -3px;
}

.route .date {
    display: block;
    font-size: 25px;
    color: black;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: Yandex Sans Text Medium, Arial, sans-serif;
}

.route .validity {
    display: block;
    font-size: 16px;
    color: gray;
}

.station span {
    font-size: 24px;
}

.barcode {
    position: relative;
    text-align: center;
    margin: 10px 0;
}

.barcode img {
    width: 85%;
    height: auto;
}

.barcode .front {
    appearance: none;
    outline: none;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transform: rotateY(0deg);
    transition: transform 0.5s linear;
}

.barcode .front.clicked {
    transform: rotateY(-180deg);
}



.details {
    margin-bottom: 20px;
}

.details .type {
    display: block;
    font-size: 19px;
    margin-bottom: 5px;
}

.details .description {
    display: block;
    font-size: 16px;
    color: gray;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .price {
    font-size: 20px;
    font-weight: bold;
    font-family: Yandex Sans Text Medium, Arial, sans-serif;
}

.footer .ticket-number {
    font-size: 14px;
    color: gray;
}
